.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 0.2em 0 0.2em 0;
    text-decoration: none;
    display: block;
}

.dropdown-item {
    font-size: 19px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.hidden {
    display: hidden;
}