@import '../App';
.header1{
    h1{
        padding: 0;
            margin-bottom: 0.5em;
    }
        padding-top: 1em;
}
.Add-btn {
    width: 15%;
    background-color: $myBlue;

}

.add-record-area {
    margin-bottom: 1em;
}

.add-record-form{
    width:95%;
    background-color: white;
    padding:2em;
    border-radius:20px;
    box-shadow: $shadow;
    
}
.mb-3{
    margin-top:1em;
    font-size: 20px;
    .form-control{
        border:$border;
    }
}
#exampleFormControlTextarea1{
    border:$border;
}

.save-btn,.cancel-btn{
    width:100%;
    margin-top:1em;
}
.save-btn{
    padding-left:2em;
    padding-right:2em;
}
.cancel-btn{
    background-color: white;
    border:1px solid black;
}