body,
html {
  background-color: #bfdffa;
  scroll-behavior: smooth;

}

.App {
  font-size: 20px;
  padding-bottom: 3em;
  width: 100%;
  max-height: 100%;
  background-color: #bfdffa;
}

.nav {
  position: fixed;
  height: 100vh;
  width: 17%;
  display: flex;
  align-items: center;
  left: 2%;
}

.short-nav {
  width: 7%;

}

.article {
  width: 78%;
  margin-left: 22%;
}

.expand-article {
  margin-left: 13%;
  width: 87%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}